@charset "UTF-8";
/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: 'Zen Antique', serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Zen Antique', serif;
  src: local("Zen Antique"), local("serif");
  unicode-range: U+4E00-9FFF;
}

html {
  background: #000;
}

p {
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h5 {
  color: #d6d5d5;
}

a {
  color: #000;
}

p {
  font-family: 'Noto Serif TC', serif;
}

button {
  border: 0;
  background-color: Transparent;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
  width: 100vw;
}

scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100vw;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

/* -------------------------- *\
	Index
\* -------------------------- */
.dialog {
  z-index: 2000;
  position: fixed;
  width: 90vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 20px;
}

.dialog .dialog-dlg {
  background-image: url("/static/dialog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  padding-top: 55%;
  color: #fff;
}

.dialog .dialog-dlg h4 {
  position: absolute;
  top: 16%;
  left: 13%;
}

.dialog .dialog-dlg p {
  position: absolute;
  top: 46%;
  left: 13%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.dialog .dialog-dlg.dlg-1 p {
  width: 17ch;
  -webkit-animation: typing 1.5s steps(9), blink 0.5s step-end infinite alternate;
          animation: typing 1.5s steps(9), blink 0.5s step-end infinite alternate;
}

.dialog .dialog-dlg.dlg-2 {
  display: none;
}

.dialog .dialog-dlg.dlg-2 p {
  width: 11ch;
  -webkit-animation: typing 0.8s steps(6), blink 0.5s step-end infinite alternate;
          animation: typing 0.8s steps(6), blink 0.5s step-end infinite alternate;
}

.dialog .dialog-dlg.dlg-3 {
  display: none;
}

.dialog .dialog-dlg.dlg-3 p {
  width: 28ch;
  -webkit-animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dialog .dialog-select {
  background-image: url("/static/select.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.dialog .dialog-select .select-3 {
  display: none;
}

.dialog .dialog-select .select-4 {
  display: none;
}

.dialog .dialog-select .select {
  opacity: 0;
  width: 50%;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(0, -95%);
          transform: translate(0, -95%);
  -webkit-animation: appear 4s 1s forwards;
          animation: appear 4s 1s forwards;
}

.dialog .dialog-select .select.active {
  -webkit-animation: disappear 1s;
          animation: disappear 1s;
}

.mask {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.wrapper .map-wrapper {
  background-image: url("/static/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350vh;
  height: 150vh;
}

.wrapper .map-wrapper .veg {
  width: 75vw;
  height: 37vh;
  position: absolute;
  top: 30%;
  left: 77%;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.tutorial {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;
  z-index: 1000;
  color: #fff;
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fadeOut 1s 4s forwards;
          animation: fadeOut 1s 4s forwards;
}

.tutorial .welcome {
  background-image: url("/static/tutorial/welcome.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
}

.tutorial .tutorial-scroll {
  margin: 100px 0;
  background-image: url("/static/tutorial/scroll-ard.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  -webkit-animation: scroll-ard 4s;
          animation: scroll-ard 4s;
}

.tutorial p {
  font-size: 14px;
}

@-webkit-keyframes scroll-ard {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(-80%, 0%);
            transform: translate(-80%, 0%);
  }
  40% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  60% {
    -webkit-transform: translate(100%, 60%);
            transform: translate(100%, 60%);
  }
  80% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes scroll-ard {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(-80%, 0%);
            transform: translate(-80%, 0%);
  }
  40% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  60% {
    -webkit-transform: translate(100%, 60%);
            transform: translate(100%, 60%);
  }
  80% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------- *\
	Stand
\* -------------------------- */
.stand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.stand .stand-items {
  width: 100%;
  position: fixed;
  bottom: 20px;
}

.stand .stand-items .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
}

.stand .stand-items .owl-item.active.center {
  margin-right: 85px !important;
}

.stand .stand-items .owl-item.active.center a h4 {
  color: #000;
  font-size: 1.2em;
  position: fixed;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: -8px;
}

.stand .stand-items .owl-item.active.center .item {
  width: 250px;
  height: 250px;
  background-size: 250px;
}

.stand .stand-items .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  background-size: 150px;
  display: inline-block;
}

.stand .stand-items .item h4 {
  color: transparent;
}

.stand-vege {
  background-image: url("/static/stand-vege/vege-bg.png");
}

.stand-vege .item-vege-1 {
  background-image: url(/static/stand-vege/vege-1.png);
}

.stand-vege .item-vege-2 {
  background-image: url(/static/stand-vege/vege-2.png);
}

.stand-vege .item-vege-3 {
  background-image: url(/static/stand-vege/vege-3.png);
}

.stand-vege .item-vege-4 {
  background-image: url(/static/stand-vege/vege-4.png);
}

.stand-vege .item-vege-5 {
  background-image: url(/static/stand-vege/vege-5.png);
}

.stand-vege .item-vege-6 {
  background-image: url(/static/stand-vege/vege-6.png);
}

.stand-beef {
  background-image: url("/static/stand-beef/beef-bg.png");
}

.stand-beef .item-beef-1 {
  background-image: url(/static/stand-beef/beef-1.png);
}

.stand-beef .item-beef-2 {
  background-image: url(/static/stand-beef/beef-2.png);
}

.stand-beef .item-beef-3 {
  background-image: url(/static/stand-beef/beef-3.png);
}

.stand-beef .item-beef-4 {
  background-image: url(/static/stand-beef/beef-4.png);
}

.stand-beef .item-beef-5 {
  background-image: url(/static/stand-beef/beef-5.png);
}

.stand-beef .item-beef-6 {
  background-image: url(/static/stand-beef/beef-6.png);
}

.owl-nav {
  background-image: url("/static/bar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(100% - 40px);
  height: 13vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 0;
}

.owl-nav button {
  font-size: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
}

.owl-nav button span {
  background-image: url("/static/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.owl-nav .owl-prev {
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.owl-nav .owl-next {
  -webkit-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
  right: 20px;
}

/* -------------------------- *\
	Item
\* -------------------------- */
.item-wrapper {
  margin: auto;
  width: 100vw;
  height: 100%;
  /* close-btn */
  /* transform會覆寫，因此寫在同一行 ＊空一格 */
  /* Btn */
  /* marquee */
  /* background */
}

.item-wrapper .navbar {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 999;
  /* menu-toggle */
}

.item-wrapper .navbar .nav-item {
  width: 100%;
  height: 100%;
}

.item-wrapper .navbar .nav-item .nav-logo {
  background-image: url(/static/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 30px;
}

.item-wrapper .navbar .menu-toggle {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.item-wrapper .navbar .menu-toggle span {
  display: block;
  /* span預設inline */
  width: 42px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .navbar .menu-toggle span:nth-child(1) {
  top: 35%;
}

.item-wrapper .navbar .menu-toggle span:nth-child(2) {
  top: 60%;
}

.item-wrapper .navbar .close-btn {
  width: 48px;
  height: 48px;
  /* border: 1px solid #fff; */
  /* anchor預設inline */
  position: absolute;
  right: 16px;
  top: 8px;
  display: none;
}

.item-wrapper .navbar .close-btn span {
  display: block;
  /* span預設inline */
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
}

.item-wrapper .navbar .close-btn span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.item-wrapper .navbar .close-btn span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .item-wrapper .navbar .close-btn {
    display: inline-block;
  }
}

.item-wrapper .btn-wrapper {
  width: 42px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  display: inline-block;
}

.item-wrapper .btn-wrapper .btn-item {
  width: 42px;
  height: 42px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
}

.item-wrapper .btn-wrapper .btn-item .btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 23px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-wrapper .btn-wrapper .btn-item .btn-icon.btn-weigh {
  background-image: url(/static/btn-weigh.svg);
}

.item-wrapper .btn-wrapper .btn-item .btn-icon.btn-picking {
  background-image: url(/static/btn-info.svg);
}

.item-wrapper .marquee-wrapper {
  position: fixed;
  width: 40px;
  height: 100%;
  z-index: 999;
}

.item-wrapper .marquee-wrapper .marquee-block {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
}

.item-wrapper .marquee-inner {
  display: block;
  width: 100%;
  position: absolute;
}

.item-wrapper .marquee-inner.to-left {
  -webkit-animation: marqueeTop 25s linear infinite;
          animation: marqueeTop 25s linear infinite;
}

.item-wrapper .marquee-item {
  background-image: url(/static/marquee-kim-kue.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50vh;
  display: block;
}

@-webkit-keyframes marqueeTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes marqueeTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

.item-wrapper .section {
  width: 100vw;
  padding-left: 30px;
  height: 100%;
  /* section-1 */
  /* section-2 */
  /* section-3 */
  /* section-4 */
  /* section-5 */
}

.item-wrapper .section-1 .item-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.item-wrapper .section-1 .scroll {
  background-image: url(/static/scroll.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 20px;
  display: inline-block;
}

.item-wrapper .section-2 .one-catty {
  background-image: url(/static/onecatty.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 160px;
  top: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .section-2 .one-catty span {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 180px;
  top: 105px;
}

.item-wrapper .section-3 {
  height: 130%;
}

.item-wrapper .section-3 .weigh {
  width: 100%;
  height: 400px;
  top: 70%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  overflow-x: hidden;
}

.item-wrapper .section-3 .weigh .circle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-image: url(/static/weigh.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
}

.item-wrapper .section-3 .weigh .pointer {
  background-image: url(/static/pointer.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 20%;
}

.item-wrapper .section-4 {
  overflow: hidden;
  padding-top: 50%;
  margin-top: 100px;
}

.item-wrapper .section-4 .cooking-title {
  background-image: url(/static/cooking-title.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  height: 34px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .section-4 .cooking-subtitle {
  background-image: url(/static/cooking-kim.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 230px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 40px;
}

.item-wrapper .section-4 .cooking-dishes {
  top: 40px;
}

.item-wrapper .section-4 .cooking-dishes .dish {
  background-image: url(/static/cook-kim-kue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.item-wrapper .section-4 .cooking-dishes .dish-0 {
  width: 200px;
  height: 200px;
  left: 0%;
  top: -75px;
}

.item-wrapper .section-4 .cooking-dishes .dish-1 {
  width: 250px;
  height: 250px;
  left: 50%;
  top: -60px;
}

.item-wrapper .section-4 .cooking-dishes .dish-2 {
  width: 550px;
  height: 600px;
  top: -300px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .section-5 {
  background-color: #d3d3d3;
  height: 100%;
  padding-left: 0px;
  overflow: hidden;
}

.item-wrapper .section-5 .nav-pink {
  height: 50px;
  width: 100%;
  background-color: #FF4EFD;
}

.item-wrapper .section-5 .picking {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

.item-wrapper .section-5 .picking .picking-title {
  text-align: center;
  padding-top: 10vh;
  font-size: 12vw;
}

.item-wrapper .section-5 .picking .picking-para {
  text-align: justify;
  padding: 10vh 3px 0 3px;
  line-height: 1.5;
}

.item-wrapper .item-weigh {
  background-image: url(/static/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100vw;
  height: 300vh;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */