@charset "UTF-8";
/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: 'Zen Antique', serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Zen Antique', serif;
  src: local("Zen Antique"), local("serif");
  unicode-range: U+4E00-9FFF;
}

html {
  background: #000;
}

p {
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h5 {
  color: #d6d5d5;
}

a {
  color: #000;
}

p {
  font-family: 'Noto Serif TC', serif;
}

button {
  border: 0;
  background-color: Transparent;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
  width: 100vw;
}

scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100vw;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

/* -------------------------- *\
	Component
\* -------------------------- */
.item-chi-1 {
  background-image: url(/dist/stand/stand-chi/chi-1.png);
}

.item-chi-2 {
  background-image: url(/dist/stand/stand-chi/chi-2.png);
}

.item-chi-3 {
  background-image: url(/dist/stand/stand-chi/chi-3.png);
}

.item-chi-4 {
  background-image: url(/dist/stand/stand-chi/chi-4.png);
}

.item-chi-5 {
  background-image: url(/dist/stand/stand-chi/chi-5.png);
}

.item-fruit-1 {
  background-image: url(/dist/stand/stand-fruit/fruit-1.png);
}

.item-fruit-2 {
  background-image: url(/dist/stand/stand-fruit/fruit-2.png);
}

.item-fruit-3 {
  background-image: url(/dist/stand/stand-fruit/fruit-3.png);
}

.item-fruit-4 {
  background-image: url(/dist/stand/stand-fruit/fruit-4.png);
}

.item-fruit-5 {
  background-image: url(/dist/stand/stand-fruit/fruit-5.png);
}

.item-fruit-6 {
  background-image: url(/dist/stand/stand-fruit/fruit-6.png);
}

.item-fish-1 {
  background-image: url(/dist/stand/stand-fish/fish-1.png);
}

.item-fish-2 {
  background-image: url(/dist/stand/stand-fish/fish-2.png);
}

.item-fish-3 {
  background-image: url(/dist/stand/stand-fish/fish-3.png);
}

.item-fish-4 {
  background-image: url(/dist/stand/stand-fish/fish-4.png);
}

.item-fish-5 {
  background-image: url(/dist/stand/stand-fish/fish-5.png);
}

.item-fish-6 {
  background-image: url(/dist/stand/stand-fish/fish-6.png);
}

.item-pork-1 {
  background-image: url(/dist/stand/stand-pork/pork-1.png);
}

.item-pork-2 {
  background-image: url(/dist/stand/stand-pork/pork-2.png);
}

.item-pork-3 {
  background-image: url(/dist/stand/stand-pork/pork-3.png);
}

.item-pork-4 {
  background-image: url(/dist/stand/stand-pork/pork-4.png);
}

.item-pork-5 {
  background-image: url(/dist/stand/stand-pork/pork-5.png);
}

.item-pork-6 {
  background-image: url(/dist/stand/stand-pork/pork-6.png);
}

.item-veg-1 {
  background-image: url(/dist/stand/stand-veg/vege-1.png);
}

.item-veg-2 {
  background-image: url(/dist/stand/stand-veg/vege-2.png);
}

.item-veg-3 {
  background-image: url(/dist/stand/stand-veg/vege-3.png);
}

.item-veg-4 {
  background-image: url(/dist/stand/stand-veg/vege-4.png);
}

.item-veg-5 {
  background-image: url(/dist/stand/stand-veg/vege-5.png);
}

.item-veg-6 {
  background-image: url(/dist/stand/stand-veg/vege-6.png);
}

.item-beef-1 {
  background-image: url(/dist/stand/stand-beef/beef-1.png);
}

.item-beef-2 {
  background-image: url(/dist/stand/stand-beef/beef-2.png);
}

.item-beef-3 {
  background-image: url(/dist/stand/stand-beef/beef-3.png);
}

.item-beef-4 {
  background-image: url(/dist/stand/stand-beef/beef-4.png);
}

.item-beef-5 {
  background-image: url(/dist/stand/stand-beef/beef-5.png);
}

.item-beef-6 {
  background-image: url(/dist/stand/stand-beef/beef-6.png);
}

.btn-item {
  width: 44px;
  height: 44px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-logo {
  background-image: url(/dist/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  width: 80px;
  height: 30px;
}

/* -------------------------- *\
	Index
\* -------------------------- */
.dialog {
  z-index: 2000;
  position: fixed;
  width: 90vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 20px;
}

.dialog .dialog-dlg {
  background-image: url("/dist/dialog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  padding-top: 55%;
  color: #fff;
}

.dialog .dialog-dlg h4 {
  position: absolute;
  top: 16%;
  left: 13%;
}

.dialog .dialog-dlg p {
  position: absolute;
  top: 46%;
  left: 13%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.dialog .dialog-dlg.dlg-1 p {
  width: 17ch;
  -webkit-animation: typing 1.5s steps(9), blink 0.5s step-end infinite alternate;
          animation: typing 1.5s steps(9), blink 0.5s step-end infinite alternate;
}

.dialog .dialog-dlg.dlg-2 {
  display: none;
}

.dialog .dialog-dlg.dlg-2 p {
  width: 11ch;
  -webkit-animation: typing 0.8s steps(6), blink 0.5s step-end infinite alternate;
          animation: typing 0.8s steps(6), blink 0.5s step-end infinite alternate;
}

.dialog .dialog-dlg.dlg-3 {
  display: none;
}

.dialog .dialog-dlg.dlg-3 p {
  width: 28ch;
  -webkit-animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dialog .dialog-select {
  background-image: url("/dist/select.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.dialog .dialog-select .select-3 {
  display: none;
}

.dialog .dialog-select .select-4 {
  display: none;
}

.dialog .dialog-select .select {
  opacity: 0;
  width: 50%;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(0, -95%);
          transform: translate(0, -95%);
  -webkit-animation: appear 4s 1s forwards;
          animation: appear 4s 1s forwards;
}

.dialog .dialog-select .select.active {
  -webkit-animation: disappear 1s;
          animation: disappear 1s;
}

.mask {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.wrapper .map-wrapper {
  background-image: url("/dist/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350vh;
  height: 150vh;
}

.wrapper .map-wrapper .veg {
  width: 75vw;
  height: 37vh;
  position: absolute;
  top: 30%;
  left: 77%;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.tutorial {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;
  z-index: 1000;
  color: #fff;
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fadeOut 1s 4s forwards;
          animation: fadeOut 1s 4s forwards;
}

.tutorial .welcome {
  background-image: url("/dist/tutorial/welcome.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
}

.tutorial .tutorial-scroll {
  margin: 100px 0;
  background-image: url("/dist/tutorial/scroll-ard.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  -webkit-animation: scroll-ard 4s;
          animation: scroll-ard 4s;
}

.tutorial p {
  font-size: 14px;
}

@-webkit-keyframes scroll-ard {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(-80%, 0%);
            transform: translate(-80%, 0%);
  }
  40% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  60% {
    -webkit-transform: translate(100%, 60%);
            transform: translate(100%, 60%);
  }
  80% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes scroll-ard {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(-80%, 0%);
            transform: translate(-80%, 0%);
  }
  40% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  60% {
    -webkit-transform: translate(100%, 60%);
            transform: translate(100%, 60%);
  }
  80% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------- *\
	Stand
\* -------------------------- */
.stand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.stand .stand-items {
  width: 100%;
  position: fixed;
  bottom: 10vh;
}

.stand .stand-items .items .slick-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 180px;
}

.stand .stand-items .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 180px;
  display: inline-block;
}

.stand .stand-items .items-name-box {
  background-image: url("/dist/bar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: fixed;
  bottom: 15px;
}

.stand .stand-items .items-name-box .items-name .slick-center h4 {
  display: block;
}

.stand .stand-items .items-name-box .items-name h4 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  display: none;
}

.stand .stand-items .items-name-box .items-name .slick-arrow {
  font-size: 0;
  background-image: url("/dist/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.stand .stand-items .items-name-box .items-name .slick-prev {
  top: 20px;
  left: 20px;
}

.stand .stand-items .items-name-box .items-name .slick-next {
  top: -27px;
  left: calc(90vw - 40px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.stand-chi {
  background-image: url("/dist/stand/stand-chi/chi-bg.png");
}

.stand-fruit {
  background-image: url("/dist/stand/stand-fruit/fruit-bg.png");
}

.stand-fish {
  background-image: url("/dist/stand/stand-fish/fish-bg.png");
}

.stand-pork {
  background-image: url("/dist/stand/stand-pork/pork-bg.png");
}

.stand-veg {
  background-image: url("/dist/stand/stand-veg/vege-bg.png");
}

.stand-beef {
  background-image: url("/dist//stand/stand-beef/beef-bg.png");
}

/* -------------------------- *\
	Item
\* -------------------------- */
.item-wrapper {
  margin: auto;
  width: 100vw;
  height: 100%;
  /* Btn */
  /* marquee */
  /* background */
}

.item-wrapper.active .navbar {
  background-color: #EC5CF5;
}

.item-wrapper.active .btn-wrapper .btn-item:nth-child(1), .item-wrapper.active .btn-wrapper .btn-item:nth-child(2) {
  opacity: 0;
  display: none;
}

.item-wrapper.active .btn-wrapper .btn-item:last-child {
  opacity: 1;
  display: inline-block;
  background-color: #EC5CF5;
}

.item-wrapper .btn-wrapper {
  width: 44px;
  position: fixed;
  z-index: 50;
  right: 20px;
  bottom: 20px;
  display: inline-block;
}

.item-wrapper .btn-wrapper .btn-item:last-child {
  opacity: 0;
  display: none;
  background-color: #EC5CF5;
}

.item-wrapper .btn-wrapper .btn-item:last-child.active {
  opacity: 1;
  display: inline-block;
}

.item-wrapper .btn-wrapper .btn-item .btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 23px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-wrapper .btn-wrapper .btn-item .btn-icon.btn-weigh {
  background-image: url(/dist/btn-weigh.svg);
}

.item-wrapper .btn-wrapper .btn-item .btn-icon.btn-picking {
  background-image: url(/dist/btn-info.svg);
}

.item-wrapper .btn-wrapper .btn-item .btn-icon.btn-top {
  background-image: url(/dist/btn-top.svg);
}

.item-wrapper .marquee-wrapper {
  position: fixed;
  width: 40px;
  height: 100%;
  z-index: 99;
}

.item-wrapper .marquee-wrapper .marquee-block {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
}

.item-wrapper .marquee-inner {
  display: block;
  width: 100%;
  position: absolute;
}

.item-wrapper .marquee-inner.to-left {
  -webkit-animation: marqueeTop 25s linear infinite;
          animation: marqueeTop 25s linear infinite;
}

.item-wrapper .marquee-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50vh;
  display: block;
}

@-webkit-keyframes marqueeTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes marqueeTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

.item-wrapper .section {
  width: 100vw;
  padding-left: 30px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* section-1 */
  /* section-2 */
  /* section-3 */
  /* section-4 */
  /* section-5 */
}

.item-wrapper .section-1 .item-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.item-wrapper .section-1 .scroll {
  background-image: url(/dist/scroll.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 20px;
  display: inline-block;
  -webkit-animation: scroll 2s linear 0s infinite;
          animation: scroll 2s linear 0s infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  33% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  100% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  33% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  100% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}

.item-wrapper .section-2 .one-catty {
  background-image: url(/dist/onecatty.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 160px;
  top: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .section-2 .one-catty span {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 180px;
  top: 105px;
}

.item-wrapper .section-3 {
  height: 130%;
}

.item-wrapper .section-3 .weigh {
  width: 100%;
  height: 400px;
  top: 70%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  overflow-x: hidden;
}

.item-wrapper .section-3 .weigh .circle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-image: url(/dist/weigh.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
}

.item-wrapper .section-3 .weigh .pointer {
  background-image: url(/dist/pointer.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 20%;
}

.item-wrapper .section-4 {
  overflow: hidden;
  padding-top: 80%;
  margin-top: 400px;
  margin-bottom: 100%;
}

.item-wrapper .section-4 .cooking-title {
  background-image: url(/dist/cooking-title.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  height: 34px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, -300%);
          transform: translate(-50%, -300%);
}

.item-wrapper .section-4 .cooking-subtitle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 230px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 40px;
}

.item-wrapper .section-4 .cooking-dishes {
  top: 40px;
}

.item-wrapper .section-4 .cooking-dishes .dish {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.item-wrapper .section-4 .cooking-dishes .dish-0 {
  width: 200px;
  height: 200px;
  left: 0%;
  top: -75px;
}

.item-wrapper .section-4 .cooking-dishes .dish-1 {
  width: 250px;
  height: 250px;
  left: 50%;
  top: -60px;
}

.item-wrapper .section-4 .cooking-dishes .dish-2 {
  width: 550px;
  height: 600px;
  top: -300px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.item-wrapper .section-5 {
  background-color: #d6d5d5;
  height: 100%;
  padding-left: 0px;
  overflow: hidden;
}

.item-wrapper .section-5 .picking {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

.item-wrapper .section-5 .picking .picking-title {
  text-align: center;
  padding-top: 12vh;
  font-size: 12vw;
}

.item-wrapper .section-5 .picking .picking-para {
  text-align: justify;
  padding: 8vh 3px 0 3px;
  line-height: 1.8;
}

.item-wrapper .item-weigh {
  background-image: url(/dist/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 130%;
  width: 100vw;
  height: 300vh;
  z-index: -1;
}

/* -------------------------- *\
	Nav
\* -------------------------- */
.navbar {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* menu-toggle */
}

.navbar.active {
  background-color: #FF4EFC;
}

.navbar .nav-box {
  width: 100%;
  height: 100%;
}

.navbar .nav-box .nav-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar .popup-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .popup-menu .nav {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
}

.navbar .popup-menu .nav .nav-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.navbar .popup-menu .nav .nav-item {
  border: 1px solid #fff;
  width: 50%;
  height: 33.3%;
  float: left;
}

.navbar .popup-menu .nav .nav-link {
  display: block;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.navbar .menu-toggle {
  width: 44px;
  height: 44px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.navbar .menu-toggle span {
  float: right;
  display: block;
  /* span預設inline */
  width: 44px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.navbar .menu-toggle span:nth-child(1) {
  top: 35%;
}

.navbar .menu-toggle span:nth-child(2) {
  top: 60%;
}

#popup-menu:target {
  opacity: 1;
  visibility: visible;
}

/* close-btn */
.navbar .close-btn {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 8px;
  top: 5px;
  display: inline-block;
}

.navbar .close-btn span {
  display: block;
  /* span預設inline */
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.navbar .close-btn span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/* -------------------------- *\
	Loading
\* -------------------------- */
.loading {
  background: #000;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 99999;
}

.loading .loading-box {
  width: 100%;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .loading-box .counter {
  text-align: center;
  margin-top: -80px;
}

.loading .loading-box .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #EC5CF5;
}

.loading .loading-box .counter h3 {
  color: #fff;
  margin-top: 20px;
}

.loading .loading-box .counter hr {
  background: #EC5CF5;
  border: none;
  height: 1px;
}

.loading .loading-box .counter {
  position: relative;
  width: 100%;
}

.loading .loading-box .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */