/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Zen Antique', serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face{
  font-family: 'Zen Antique', serif;
  src: local("Zen Antique"), local("serif");
  unicode-range: U+4E00-9FFF;
}
html
{
    background: #000;
}
p{
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}


// @font-face{
//   font-family: 'DxSitrus';
//   src: url('/assets/fonts/DxSitrus-ExpandedItalic.woff') format("woff"),
//          url('/assets/fonts/DxSitrus-ExpandedItalic.ttf') format("truetype"),
//          url('/assets/fonts/DxSitrus-ExpandedItalic.eot') format("embedded-opentype");
//   unicode-range: U+00-024F;
// }
    
// ** 變數 ** \\
$light-gray: #d6d5d5;
$black: #000;
$white: #fff;
$pink:#EC5CF5;

@mixin background($size) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin verticalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
ul,li{
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h5 {
  color: $light-gray;
}
a {
  // text-decoration: none;
  color: $black;
}
p{
  font-family: 'Noto Serif TC', serif;
}
button{
  border: 0;
  background-color: Transparent;
}
// ** 隱藏滾動條 ** \\
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
  width: 100vw;
}
scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100vw;
  overflow: auto;
  // background-color: #000;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
// ** 隱藏滾動條 ** \\
#container {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  @include verticalCenter()
}
/* -------------------------- *\
	Component
\* -------------------------- */
.item {
  &-chi {
    &-1 {
      background-image: url(/dist/stand/stand-chi/chi-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-chi/chi-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-chi/chi-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-chi/chi-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-chi/chi-5.png);
    }
  }
  &-fruit {
    &-1 {
      background-image: url(/dist/stand/stand-fruit/fruit-1.png);
    }
  
    &-2 {
      background-image: url(/dist/stand/stand-fruit/fruit-2.png);
    }
  
    &-3 {
      background-image: url(/dist/stand/stand-fruit/fruit-3.png);
    }
  
    &-4 {
      background-image: url(/dist/stand/stand-fruit/fruit-4.png);
    }
  
    &-5 {
      background-image: url(/dist/stand/stand-fruit/fruit-5.png);
    }
  
    &-6 {
      background-image: url(/dist/stand/stand-fruit/fruit-6.png);
    }
  }
  &-fish {
    &-1 {
      background-image: url(/dist/stand/stand-fish/fish-1.png);
    }
  
    &-2 {
      background-image: url(/dist/stand/stand-fish/fish-2.png);
    }
  
    &-3 {
      background-image: url(/dist/stand/stand-fish/fish-3.png);
    }
  
    &-4 {
      background-image: url(/dist/stand/stand-fish/fish-4.png);
    }
  
    &-5 {
      background-image: url(/dist/stand/stand-fish/fish-5.png);
    }
  
    &-6 {
      background-image: url(/dist/stand/stand-fish/fish-6.png);
    }
  }
  &-pork {
    &-1 {
      background-image: url(/dist/stand/stand-pork/pork-1.png);
    }
  
    &-2 {
      background-image: url(/dist/stand/stand-pork/pork-2.png);
    }
  
    &-3 {
      background-image: url(/dist/stand/stand-pork/pork-3.png);
    }
  
    &-4 {
      background-image: url(/dist/stand/stand-pork/pork-4.png);
    }
  
    &-5 {
      background-image: url(/dist/stand/stand-pork/pork-5.png);
    }
  
    &-6 {
      background-image: url(/dist/stand/stand-pork/pork-6.png);
    }
  }
  &-veg {
    &-1 {background-image: url(/dist/stand/stand-veg/vege-1.png);}
    &-2 {background-image: url(/dist/stand/stand-veg/vege-2.png);}
    &-3 {background-image: url(/dist/stand/stand-veg/vege-3.png);}
    &-4 {background-image: url(/dist/stand/stand-veg/vege-4.png);}
    &-5 {background-image: url(/dist/stand/stand-veg/vege-5.png);}
    &-6 {background-image: url(/dist/stand/stand-veg/vege-6.png);}
  }
  &-beef {
    &-1 {background-image: url(/dist/stand/stand-beef/beef-1.png);}
    &-2 {background-image: url(/dist/stand/stand-beef/beef-2.png);}
    &-3 {background-image: url(/dist/stand/stand-beef/beef-3.png);}
    &-4 {background-image: url(/dist/stand/stand-beef/beef-4.png);}
    &-5 {background-image: url(/dist/stand/stand-beef/beef-5.png);}
    &-6 {background-image: url(/dist/stand/stand-beef/beef-6.png);}
  }
}
.ham {
  &-index {
    &-1 {
      background-image: url(/dist/ham/index/porkIcon.png);
    }

    &-2 {
      background-image: url(/dist/ham/index/beefIcon.png);
    }

    &-3 {
      background-image: url(/dist/ham/index/chickenIcon.png);
    }

    &-4 {
      background-image: url(/dist/ham/index/vegetableIcon.png);
    }

    &-5 {
      background-image: url(/dist/ham/index/fishIcon.png);
    }
    &-6 {
      background-image: url(/dist/ham/index/fruitIcon.png);
    }
  }

  &-fruit {
    &-1 {
      background-image: url(/dist/stand/stand-fruit/fruit-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-fruit/fruit-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-fruit/fruit-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-fruit/fruit-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-fruit/fruit-5.png);
    }

    &-6 {
      background-image: url(/dist/stand/stand-fruit/fruit-6.png);
    }
  }

  &-fish {
    &-1 {
      background-image: url(/dist/stand/stand-fish/fish-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-fish/fish-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-fish/fish-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-fish/fish-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-fish/fish-5.png);
    }

    &-6 {
      background-image: url(/dist/stand/stand-fish/fish-6.png);
    }
  }

  &-pork {
    &-1 {
      background-image: url(/dist/stand/stand-pork/pork-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-pork/pork-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-pork/pork-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-pork/pork-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-pork/pork-5.png);
    }

    &-6 {
      background-image: url(/dist/stand/stand-pork/pork-6.png);
    }
  }

  &-veg {
    &-1 {
      background-image: url(/dist/stand/stand-veg/vege-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-veg/vege-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-veg/vege-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-veg/vege-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-veg/vege-5.png);
    }

    &-6 {
      background-image: url(/dist/stand/stand-veg/vege-6.png);
    }
  }

  &-beef {
    &-1 {
      background-image: url(/dist/stand/stand-beef/beef-1.png);
    }

    &-2 {
      background-image: url(/dist/stand/stand-beef/beef-2.png);
    }

    &-3 {
      background-image: url(/dist/stand/stand-beef/beef-3.png);
    }

    &-4 {
      background-image: url(/dist/stand/stand-beef/beef-4.png);
    }

    &-5 {
      background-image: url(/dist/stand/stand-beef/beef-5.png);
    }

    &-6 {
      background-image: url(/dist/stand/stand-beef/beef-6.png);
    }
  }
}
.btn-item {
  width: 44px;
  height: 44px;
  display: block;
  border: 2px solid $white;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
  transition: all 0.5s;
}
.nav-logo {
  background-image: url(/dist/logo.svg);
  @include background(contain);
  z-index: 9999;
  width: 80px;
  height: 30px;
}
/* -------------------------- *\
	Index
\* -------------------------- */
.dialog{
  z-index: 2000;
  position: fixed;
  width: 90vw;
  @include verticalCenter;
  bottom: 20px;
  
  .dialog-dlg{
    background-image: url('/dist/dialog.png');
    @include background(contain);
    width: 90vw;
    padding-top: 55%;
    color: #fff;
    h4{
      position: absolute;
      top: 16%;
      left: 13%;
    }
    p{
      position: absolute;
      top: 46%;
      left: 13%;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
    }
    &.dlg-1{
      // display: none;
      p{
      width: 17ch;
      animation: typing 1.5s steps(9), blink .5s step-end infinite alternate;
      }
    }
    &.dlg-2{
      display: none;
      p{
      width: 11ch;
      animation: typing 0.8s steps(6), blink .5s step-end infinite alternate;
      }
    }
    &.dlg-3{
      display: none;
      p{
      width: 28ch;
      animation: typing 2s steps(17), blink .5s step-end infinite alternate;
      }
    }
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes disappear {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .dialog-select{
    background-image: url('/dist/select.png');
    @include background(contain);
    width: 90vw;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    .select-3{
      display: none;
    }
    .select-4{
      display: none;
    }
    .select{
      opacity: 0;

      width: 50%;
      color: #fff;
      text-align: center;
      transform: translate(0,-95%);
      animation: appear 4s 1s forwards;
      &.active{
        animation: disappear 1s;
      }
    }
  }
}
.mask{
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.wrapper {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  .map-wrapper {
    background-image: url('/dist/map.png');
    @include background(cover);
    @include center();
    width: 350vh;
    height: 150vh;
    .veg{
      width: 75vw;
      height: 37vh;
      // border: 1px solid red;
      position: absolute;
      top: 30%;
      left: 77%;
      transform: rotate(-9deg);
    }
  }
}
.tutorial{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;
  z-index: 1000;
  // border: 1px solid #fff;
  color: #fff;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include center();
  animation: fadeOut 1s 4s forwards;

  .welcome{
    background-image: url('/dist/tutorial/welcome.svg');
    @include background(contain);
    width: 100px;
    height: 50px;
  }
  .tutorial-scroll{
    margin: 100px 0;
    background-image: url('/dist/tutorial/scroll-ard.svg');
    @include background(contain);
    width: 80px;
    height: 80px;
    animation: scroll-ard 4s;

  }
  p{
    font-size: 14px;
  }
}
@keyframes scroll-ard {
  0%{
    transform: translate(0%,0%)
  }
  20%{
    transform: translate(-80%,0%)
  }
  40%{
    transform: translate(50%,-60%)
  }
  60%{
    transform: translate(100%,60%)
  }
  80%{
    transform: translate(-50%,50%)
  }
  100%{
    transform: translate(0%,0%)
  }
}
@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* -------------------------- *\
	Stand
\* -------------------------- */
.stand{
  @include background(cover);
  background-position: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  .stand-items{ 
    width: 100%;
    position: fixed;
    bottom: 10vh;
    .items{
      .slick-center{
      @include background(contain);
        width: 200px; 
        height: 180px;
      }
    }
    .item {
      @include background(100px);
      width: 100px;
      height: 180px;
      display: inline-block;
    }
    .items-name-box{
      background-image: url('/dist/bar.png');
      @include background(contain);
      width: 90%;
      @include verticalCenter();
      position: fixed;
      bottom: 15px;
      .items-name{
        .slick-center {
          h4 {
            display: block;
          }
        }
        h4{
          color: $white;
          font-size: 18px;
          text-align: center;
          display: none;
        }
        .slick-arrow {
          font-size: 0;
          background-image: url('/dist/arrow.svg');
          @include background(contain);
          width: 20px;
          height: 20px;
          display: inline-block;
          position: relative;
        }
        .slick-prev {
          // transform: translate(20px, 100%);
          top: 20px;
          left: 20px;
        }
        .slick-next {
          top: -27px;
          left: calc(90vw - 40px);
          transform: rotate(180deg);
        }
      }
    }
    
  }
  // ** chi-stand ** //
  &-chi {
    background-image: url('/dist/stand/stand-chi/chi-bg.png');
  }
  // ** fruit-stand ** //
  &-fruit {
    background-image: url('/dist/stand/stand-fruit/fruit-bg.png');
  }
  // ** fish-stand ** //
  &-fish {
    background-image: url('/dist/stand/stand-fish/fish-bg.png');
  }
  // ** pork-stand ** //
  &-pork {
    background-image: url('/dist/stand/stand-pork/pork-bg.png');
  }
  // ** veg-stand ** //
  &-veg{
    background-image: url('/dist/stand/stand-veg/vege-bg.png');
  }
  // ** beef-stand ** //
  &-beef{
    background-image: url('/dist//stand/stand-beef/beef-bg.png');
  }
}
/* -------------------------- *\
	Item
\* -------------------------- */

.item-wrapper {
  margin: auto;
  width: 100vw;
  height: 100%;
  &.active{
    .navbar {
      background-color: $pink;
    }
    .btn-wrapper{
      .btn-item{
        &:nth-child(1),
        &:nth-child(2) {
          opacity: 0;
          display: none;
        }
        &:last-child {
          opacity: 1;
          display: inline-block;
          background-color: $pink;
        }
      }
    }
  }

  /* Btn */
  .btn-wrapper{
    width: 44px;
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 20px;
    display: inline-block;

    .btn-item{
      &:last-child{
          opacity: 0;
          display: none;
          background-color: $pink;
        &.active{
          opacity: 1;
          display: inline-block;
        }
      }
      .btn-icon{
        @include background(contain);
        width: 20px;
        height: 23px;
        @include center();
        &.btn-weigh{
          background-image: url(/dist/btn-weigh.svg);
        }
        &.btn-picking{
          background-image: url(/dist/btn-info.svg);
        }
        &.btn-top {
          background-image: url(/dist/btn-top.svg);
        }
      }
    }
  }


  /* marquee */
  .marquee-wrapper{
  position: fixed;
  width: 40px;
  height: 100%;
  z-index: 99;
  }
  .marquee-wrapper .marquee-block{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    float:left;
  }
  .marquee-inner{
    display: block;
    width:100%;
    position: absolute;
  }
  .marquee-inner.to-left{
    animation: marqueeTop 25s linear infinite;
  }
  .marquee-item{
    @include background(contain);

    width: 100%;
    height: 50vh;
    // height: 100%;
    display: block;
  }
  @keyframes marqueeTop{
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }

  .section{
    width: 100vw;
    padding-left: 30px;
    height: 100%;
    transition: all 0.5s;
    /* section-1 */
    &-1{
    // overflow: hidden;
    // height: 100%;
      .item-pic{
        @include background(contain);
        position: absolute;
        display: inline-block;
        z-index: -1;
      }
      .scroll{
        background-image: url(/dist/scroll.svg);
        @include background(contain);
        width: 140px;
        height: 50px;
        @include verticalCenter;
        bottom: 20px;
        display: inline-block;
        // transform: translate(-50%,-30%);
        animation: scroll 2s linear 0s infinite;
      }
    }
    @keyframes scroll {
      0%{
        transform: translate(-50%, -30%);
      }
      33%{
        transform: translate(-50%, 0%);
      }
      100% {
        transform: translate(-50%, -30%);
      }
    }

    /* section-2 */
    &-2{
      .one-catty{
        background-image: url(/dist/onecatty.svg);
        @include background(contain);
        width: 250px;
        height: 160px;
        top: 80%;
        @include verticalCenter;

        span{
          color: $white;
          font-size: 30px;
          position: absolute;
          left: 180px;
          top: 105px;

        }
      }
    }

    /* section-3 */
    &-3{
      height: 130%;
      .weigh{
        width: 100%;
        height: 400px;
        top: 70%;
        @include verticalCenter;
        overflow-x: hidden;
        .circle{
          @include verticalCenter;

          background-image: url(/dist/weigh.svg);
          @include background(contain);
          width: 400px;
          height: 400px;
        }
        .pointer{
        background-image: url(/dist/pointer.svg);
        @include verticalCenter;

        @include background(contain);
        width: 15px;
        height: 150px;
        @include verticalCenter;
        top: 20%;
        }
      }
    }

    /* section-4 */
    &-4{
      overflow: hidden;
      padding-top: 80%;
      margin-top: 400px;
      margin-bottom: 100%;
      .cooking-title{
        background-image: url(/dist/cooking-title.svg);
        @include background(contain);
        width: 280px;
        height: 34px;
        @include verticalCenter;
        transform: translate(-50%,-300%)
      }
      .cooking-subtitle{
        @include background(contain);
        width: 240px;
        height: 230px;
        left: 50%;
        transform: translate(-50%,0);
        top: 40px;
      }
      .cooking-dishes{
        top: 40px;
        .dish{
            // background-image: url(/dist/cook-kim-kue.png);
            @include background(contain);
            position: absolute;
          &-0{
            width: 200px;
            height: 200px;
            left: 0%;
            top: -75px;
          }
          &-1{
            width: 250px;
            height: 250px;
            left: 50%;
            top: -60px;
          }
          &-2{
            width: 550px;
            height: 600px;
            top: -300px;
            @include verticalCenter;
          }
        }
      }
    }

    /* section-5 */
    &-5{
      background-color: $light-gray;
      height: 100%;
      padding-left: 0px;
      overflow: hidden;
      .picking{
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        .picking-title{
          text-align: center;
          padding-top: 12vh;
          font-size: 12vw;
        }
        .picking-para{
          text-align: justify;
          padding: 8vh 3px 0 3px;
          line-height: 1.8;
        }
      }
    }
  }
  /* background */
  .item-weigh{
    background-image: url(/dist/bg.png);
    @include background(cover);
    @include verticalCenter();
    top: 130%;
    width: 100vw;
    height: 300vh;
    z-index: -1;
  }

}

/* -------------------------- *\
	Nav
\* -------------------------- */
.navbar {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 999;
  transition: all 0.5s;
  &.active {
    background-color: #FF4EFC;
  }
  .nav-box {
    width: 100%;
    height: 100%;

    .nav-logo {
      @include center();
    }
  }
  .popup-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    .nav {
      width: 100%;
      height: 80%;
      position: absolute;
      bottom: 0;
      .nav-pic{
        @include background(contain);
        @include verticalCenter();
        top: 20%;
        width: 100px;
        height: 100px;
      }
      .nav-item {
        border: 1px solid $white;
        width: 50%;
        height: 33.3%;
        float: left;
      }
      .nav-link {
        display: block;
        color: $white;
        text-align: center;
        position: absolute;
        bottom: 10%;
        @include verticalCenter();
      }
    }
  }
  
  /* menu-toggle */
  .menu-toggle {
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 20px;
    transform: translate(0%, -50%);
    span {
      // float: right;
      display: block;
      /* span預設inline */
      width: 20px;
      height: 2px;
      background-color: $white;
      &:nth-child(1) {
        top: 35%;
      }

      &:nth-child(2) {
        top: 60%;
      }
    }
  }
}
#popup-menu:target {
  opacity: 1;
  visibility: visible;
}

/* close-btn */

.navbar .close-btn {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 8px;
  top: 4px;
  display: inline-block;
}

.navbar .close-btn span {
  display: block;
  /* span預設inline */
  width: 20px;
  height: 2px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.navbar .close-btn span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* -------------------------- *\
	Loading
\* -------------------------- */
.loading{
  background: $black;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 99999;
  .loading-box{
    width: 100%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .counter {
      text-align: center;
      margin-top: -80px;
    }
    
    .counter p {
      font-size: 40px;
      font-weight: 100;
      color: $pink;
    }
    
    .counter h3 {
      color: $white;
      // font-size: 60px;
      margin-top: 20px;
    }
    
    .counter hr {
      background: $pink;
      border: none;
      height: 1px;
    }
    
    .counter {
      position: relative;
      width: 100%;
    }
    
    .counter h1.abs {
      position: absolute;
      top: 0;
      width: 100%;
    }

  }
}
